<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
	<!-- 쿼리문 중복제거문은 위쪽에 적어야함 -->
	<sql id="boardColumn">
		SELECT
			   BOARD_NO boardNo
			 , BOARD_TITLE boardTitle
			 , BOARD_CONTENT boardContent
			 , USERID boardWriter
			 , CREATE_DATE createDate
	      FROM
	     	   BOARD
	      JOIN
	           MEMBER ON (BOARD_WRITER = USERNO)
	     WHERE
	           DELETE_YN = 'N'
	</sql>
	
	<select id="selectBoardList"
			resultType="board">
		<include refid="boardColumn" />
		 ORDER
		    BY
		       BOARD_NO DESC
	</select>
	
	<select id="selectBoard"
			parameterType="_int"
			resultType="board">
		<include refid="boardColumn" />
	       AND
	           BOARD_NO = #{boardNo}	
	</select>

</mapper>