<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 
	XML에서 주석 사용하는 방법
	이 문서의 형식이 configuration(환경설정)임을 알려줌
	.dtd == 유효성 검사를 해줌
	=> 최상위 부모요소가 반드시 configuration element
 -->
<configuration>
	
	<!-- typeAliases : VO / DTO 클래스들의 풀클래스명을 별칭으로 사용하기 위해 등록하는 영역 -->
	<typeAliases>
		<typeAlias type="com.kh.statement.model.vo.Member" alias="member" />
	</typeAliases>
	
	<!-- environments : MyBatis에서 연동할 DB의 정보들을 등록하는 영역
		 각각의 DB정보는 environments 태그를 이용해서 등록할 수 있음
		 => 꼭! default 속성을 이용해서 여러개의 정보중 어떤 DB를 기본으로 사용할 것인지 지정해야함!!! 꼭!!!
	-->
	<environments default="development">
		<environment id="development">
		
			<!-- 
				* transactionManager : type이 필수 속성 JDBC와 MANAGED 중 하나를 선택할 수 있음
				- JDBC : 트랜잭션을 개발자가 직접 관리하겠다. (수동 commit)
				- MANAGED : 트랜잭션에 대해서 개발자가 아무런 영향도 끼지지 않겠다. (자동 commit)
			-->
			<transactionManager type="JDBC" />
			
			<!-- 
				* dataSource의 type속성의 값으로 POOLED와 UNPOOLED 중 하나를 선택할 수 있음(ConnectionPool)
				ConnectionPool : Connection 객체를 담아두는 영역, 한 번 생성된 Connection을 재사용
				
				POOLED => ConnectionPool 쓸래요
				UNPOOLED => ConnectionPool 안 쓸래요
				
				DataSource 객체의 필드에 값을 set하기 위해서는 setter 메소드가 호출 해야 하는데,
				XML 파일상에서는 setter 메소드를 호출해서 값을 대입하기 위해 property라는 요소를 사용함
				DataSource객체.setname속성값("value속성값");
			-->
			<dataSource type="UNPOOLED">
				<!-- DataSource.setDriver("oracle.jdbc.driver.OracleDrvier") -->
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@115.90.212.20:10000:XE" />
				<property name="username" value="HGJ20" />
				<property name="password" value="HGJ201234" />
			</dataSource>
		</environment>
	</environments>
	
	<!-- mappers : 실행할 SQL문을 기록해둔 mapper 파일을 등록하는 영역 -->
	<mappers>
		<mapper resource="member-mapper.xml" />
	</mappers>
	
	
	

</configuration>